<!doctype html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>SCUBE CMS Images Homepage</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<link rel="stylesheet" href="../styles/homepage.css" type="text/css" media="screen" title="no title" charset="utf-8">

<script type="text/javascript" charset="utf-8">

</script>
<body>
    <br>
    <div style="align-self:center"><h1>SCUBE CMS Images - Homepage</h1></div>
    <div id="pricing-table" class="clear">
        <table>
            <tr>
                <td>
                    <div class="plan">
                        <h3>Malls<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/mall-images">Enter</a>
                        <ul>
                            <li><b>Manage Malls</b></li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Brands<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/brand-images">Enter</a>
                        <ul>
                            <li><b>Manage Brands</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                
                <td>
                    <div class="plan">
                        <h3>Shops<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/shop-images">Enter</a>
                        <ul>
                            <li><b>Manage Shops</b></li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Shop Profile<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/shop-profile-images">Enter</a>
                        <ul>
                            <li><b>Manage Shop Profile</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
            </tr>

           
        </table>
        
        
    </div>

</body>

