<!doctype html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>SCUBE CMS Homepage</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<link rel="stylesheet" href="../styles/homepage.css" type="text/css" media="screen" title="no title" charset="utf-8">

<script type="text/javascript" charset="utf-8">

</script>
<body>
    <br>
    <div style="align-self:center"><h1>SCUBE CMS -Homepage</h1></div>
    <div id="pricing-table" class="clear">
        <table>
            <tr>
                <td>
                    <div class="plan">
                        <h3>Brands<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/brands">Enter</a>
                        <ul>
                            <li><b>Manage Brands</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Brand Profile<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/brand-profile">Enter</a>
                        <ul>
                            <li><b>Manage Brand Profiles</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                
                <td>
                    <div class="plan">
                        <h3>Shopping Malls<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/malls">Enter</a>
                        <ul>
                            <li><b>Manage Shopping Malls</b></li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Popularity Index<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/popularity-index">Enter</a>
                        <ul>
                            <li><b>Manage Popularity</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Location<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/location">Enter</a>
                        <ul>
                            <li><b>Manage Locations</li>
                        </ul>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <br />
                </td>
            </tr>
            
            <tr>
                <td>
                    <div class="plan">
                        <h3>Shops<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/shop">Enter</a>
                        <ul>
                            <li><b>Manage Shops</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Shop Profile<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/shop-profile">Enter</a>
                        <ul>
                            <li><b>Manage Shop Profiles</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Shopping Offer<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/shopping-offer">Enter</a>
                        <ul>
                            <li><b>Manage Shopping Offers</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Shopping Category<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/shopping-category">Enter</a>
                        <ul>
                            <li><b>Manage Shopping Category</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Scubits<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/scubit">Enter</a>
                        <ul>
                            <li><b>Manage Scubits</li>
                        </ul>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <br />
                </td>
            </tr>

            <tr>
                <td>
                    <div class="plan">
                        <h3>Device<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/device">Enter</a>
                        <ul>
                            <li><b>Manage Devices</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Device Login<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/device-login">Enter</a>
                        <ul>
                            <li><b>Manage Device Login</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Device OS<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/device-os">Enter</a>
                        <ul>
                            <li><b>Manage Device OS</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Device Variant<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/device-variant">Enter</a>
                        <ul>
                            <li><b>Manage Device Variant</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>Device Type<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/device-type">Enter</a>
                        <ul>
                            <li><b>Manage Device Type</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                </td>
            </tr>

            <tr>
                <td>
                    <div class="plan">
                        <h3>User Profile<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/user-profile">Enter</a>
                        <ul>
                            <li><b>Manage User Profile</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>User Login<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/user-login">Enter</a>
                        <ul>
                            <li><b>Manage User Login</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>User Brand Pref<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/user-brand-pref">Enter</a>
                        <ul>
                            <li><b>Manage User Brand Pref</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                <td>
                    <div class="plan">
                        <h3>User Category Pref<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/user-category-pref">Enter</a>
                        <ul>
                            <li><b>Manage User Category Pref</li>
                        </ul>
                    </div>
                </td>
                <td>
                    &nbsp;&nbsp;
                </td>
                 <td>
                    <div class="plan">
                        <h3>Scube Custom Deals<span>SCUBE</span></h3>
                        <a class="signup" href="/cms/scube-deals">Enter</a>
                        <ul>
                            <li><b>Manage Scube deals</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
        
        
    </div>

</body>

